<nav>
    <div class="underDev noSelect">This website is currently under development and may be unstable. Updates are being deployed regularly as our developers continue working on improvements.</div>
    <div class="navContent">
    <img class="logo noSelect" src="assets/logo.png">
    <h1>AnswerNest</h1>
    <div class="navbuttonContainer">
    <a class="navbtn" href="/login">Login</a>
    <a class="navbtn" href="/sign-up">Sign Up</a>
    </div>
    </div>
</nav>