<div class="underDev noSelect">This website is currently under development and may be unstable. Updates are being deployed regularly as our developers continue working on improvements.</div>
<nav>

  <div class="navContent">
    <div class="logostuff">
    <img class="logo noSelect" src="assets/logo.png">
    <h1>AnswerNest</h1>
    </div>
          <!-- <div class="profile-container">
        <p>Not Signed in</p>
      </div>  -->
    <div class="navbuttonContainer">
      <% if(page == "home"){ %>
        <a class="navbtn" href="/login">Login</a>
      <a class="navbtn" href="/sign-up">Sign Up</a>
      <a class="navbtn" href="/sign-up">DevBlog</a>
        <% } %>
    </div>
  </div>
</nav>
