<div class="navMenu">
    <div class="left">
      <button class="navMenubtn"><a  href="/">HOME</a></button>
      <button class="navMenubtn"><a >OUR FEATURES</a></button>
      <button class="navMenubtn"><a >EXPLORE</a></button>
      <button class="navMenubtn"><a >LEADERBOARD</a></button>
      <button class="navMenubtn"><a >ABOUT US</a></button>
      <button class="navMenubtn"><a >GUIDELINES</a></button>
      <button class="navMenubtn"><a >HELP</a></button>
    </div>
</div>