<!DOCTYPE html>

<html lang="en">

<%- include("partials/head") %>
<style>
    p,li{
        color: white;
    }
</style>
<body>
<%- include("partials/navbar") %>
<%- include("partials/navmenu") %>
<hr>
<div class="guidelines-container">

```
<h1>Our features</h1>
<p class="intro">
    Welcome to <strong>AnswerNest</strong>. This platform is built for people to ask questions,
    share knowledge, and help others. To keep the community helpful and respectful,
    all users must follow these guidelines.
</p>

<hr>


</div>

</body>
</html>
