<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("partials/navbar") %>
    <h1>Hey, This is HomePage</h1>
    <hr>
        <form method="post" action="/">
        <input placeholder="Enter Id" name="id">
        <input placeholder="Enter Name" name="name">
        <input placeholder="Enter age" name="age">
        <button>Add User</button>
        </form>
    <hr>
    <table>
        <tr>
        <th>
            id
        </th>
        <th>
            Username
        </th>
        </tr>
        
            <% for( user of result) { %>
                <tr>
                <td>
                    <%= user.id %>
                </td>
                <td>
                    <%= user.username %>
                </td>
                <td>
                    <%= user.age %>
                </td>
                </tr>
            <%   }%>
    </table>
        <form method="get" action="/">
        <button>Back to HomePage</button>
    </form>
</body>
</html>